{{ define "header" }}
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta name="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" />
    <!--  -->
  </head>
  <body>
    <!--  -->
{{ end }}


{{ define "footer" }}
    <p>Copyright Kay Freyer 2048</p>
  </body>
</html>
{{ end }}
